/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Roboto, Arial;
    background: url(images/diu.jpg) no-repeat center center/cover fixed;
    
}

.project {
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px;
}

/* Navigation Bar design */
.header {
    background-color: rgba(0, 0, 0, 0.6);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    flex-shrink: 0;
}

.nav-icon{
    width: 50px;
    margin-right: 10px;
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: white;
    flex-shrink: 0;
}

.nav-button {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}
.nav-button li {
    display: inline;
    width: 0;
}
.nav-button li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
}
.nav-button li a:hover{
    color: rgb(0, 0, 0);
    background-color: white;
    transition: 0.4s;
}
.nav-button li a:active{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    transition: 0.4s;
}
/* Form Designing */

.form-container {
    margin-top: 20px;
}
.form {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.form h1 {
margin-bottom: 15px;
font-size: 30px;
}
.form-group{
    margin-bottom: 10px;
}
.form-logo img{
    width: 100%;
}
.category-head-text {
    padding: 15px;
    font-size: 30px;
    font-weight: 600;
}
label{
    font-size: 18px;
}
input{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    padding: 15px;
    border: none ;
    border-radius: 18px;
    font-size: 18px;
    color: #ffffff;
    background-color: rgba(202, 202, 202, 0.4); 
}
.head-text{
    text-align: center;
}
::placeholder{
    color: #cecece;
}

input:hover {
    transition: 0.4s;
    background-color: rgba(170, 170, 170, 0.7);
}

/* Button styling */
.submit {
    margin: auto;
    display: block;
    width: 180px;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 16px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    
}

.submit:hover,.download:hover,.image:hover {
    background-color: #ffffff;
    color: #000000;
    opacity: .9;
    transition-duration: 0.4s;
}
.submit:hover:active,.download:hover:active,.image:hover:active {
    background-color: #28a745;
    color: #ffffff;
    opacity: .9;
    transition-duration: 0.2s;
}

/* Document Design */

.document-holder {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;    
}

.document {
    max-width: 780px;
    min-width: 780px;
    height: 1102.92px;
    background-color: white;
}
.document-logo img {
    width: 85%;
}
.document-logo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: -50px;
}
.document-watermark img {
    width: 100%;
}
.document-watermark {
    position: absolute;
    top: 340px;
    left: 170px;
    right: 170px;
    z-index: -1;
}
.document-content {
    position: relative;
    height: 1042.52px;
    margin: 30px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 24px;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 35px;
    z-index: 1;
    
}
.assignment-text {
    display: flex;
    justify-content: center;
    text-decoration: underline !important;
    text-underline-offset: 3px;
    font-size: 20px;
    margin-bottom: 10px;
}
.space {
    padding-left: 120px;
}
.category-head-text-style {
    color: rgb(24, 24, 138);
    text-decoration: underline !important;
    text-underline-offset: 3px;
}

/* Index Design */

.experiment-tag { 
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 2px solid rgb(255, 255, 255);
}

 .index-text {
    color: rgb(39, 39, 158);
    font-size: 50px;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
 }
.document-holder {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;    
}
.index-document {
    max-width: 780px;
    min-width: 780px;
    height: 1102.92px;
    background-color: white;
}
.index-document-content {
    position: relative;
    height: 1042.52px;
    margin: 30px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 20px;
    z-index: 1;
}
.index-border {
    padding: 5px;
    border-left: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
}
.index-left-bottom {
    padding: 5px;
    border-bottom: 2px solid rgb(0, 0, 0);
}
.index-right-bottom {
    padding: 5px;
    border-left: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
}
.index-border-header {
    padding: 5px;
    border-left: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
}
.index-border-footer {
    padding: 5px;
    border-left: 2px solid rgb(0, 0, 0);
}
.index-right-footer {
    padding: 5px;
    border-left: 2px solid rgb(0, 0, 0);
}

.index-left-footer {
    padding: 5px;
}
.index-border,
.index-left-bottom,
.index-right-bottom,
.index-border-header,
.index-border-footer, 
.index-right-footer, 
.index-left-footer {
    height: 80px;
}
#index-header {
    padding-top: 20px;
    font-size: 22px;
    color: #1e1870;
}
#index-experiment-no,
#dateSubmission,
#pageLimit {
    padding-top: 30px;
}
#documentContentIndex {
    display: grid;
    grid-template-columns: 1fr 2fr 6fr 1fr 1fr;
    border: 2px solid rgb(0, 0, 0);
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-size: 18px;
}

/* Index Design End */


.document-buttons{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.download,.image{
    width: auto !important;
    padding: 12px;
    background-color: #28a745;
    border: none;
    border-radius: 16px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}



/* Footer design */
.footer {
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 10px;
    border-radius: 20px;
    color: white;
    text-align: center;
    padding: 10px;
}
.footer a {
    color: white;
    text-decoration: none;
}


/* Larger devices (large laptops, 1201px to 1640px) */
@media screen and (min-width: 1201px)and (max-width: 1640px) {
.project {
    margin-left: 25%;
    margin-right: 25%;
}
.nav-bar {
    flex-direction: column;
    height: 110px;
    padding-bottom: 5px;
}

.nav-icon{
    width: 50px;
    margin-top: 5px;
}
.nav-button li a {
    font-size: 20px;
}
.nav-logo {
    font-size: 40px;
}

}
/* Larger devices (large laptops, 1001px to 1470px) */
@media screen and (min-width: 1001px)and (max-width: 1200px) {
.project {
    margin-left: 22%;
    margin-right: 22%;
}
.nav-bar {
    flex-direction: column;
    height: 110px;
    padding-bottom: 5px;
}

.nav-icon{
    width: 50px;
    margin-top: 5px;
}
.nav-button li a {
    font-size: 18px;
}
.nav-logo {
    font-size: 40px;
}

}

/* Large devices (laptops, 978px to 1470px) */
@media screen and (min-width: 800px)and (max-width: 1000px) {
.project {
    margin-left: 18%;
    margin-right: 18%;
}
.nav-bar {
    flex-direction: column;
    height: 110px;
    padding-bottom: 5px;
}

.nav-icon{
    width: 50px;
    margin-top: 5px;
}
.nav-button li a {
    font-size: 16px;
}
.nav-logo {
    font-size: 40px;
}

}
/* Medium devices (tablets, 601px to 799px) */
@media screen and (min-width: 601px)and (max-width: 799px) {
.project {
    margin-left: 10%;
    margin-right: 10%;
}
.nav-bar {
    flex-direction: column;
    height: 110px;
    padding-bottom: 5px;
}
.nav-icon{
    width: 45px;
    margin-top: 5px;
}
.nav-button li a {
    font-size: 14px;
}
.nav-logo {
    font-size: 40px;
}
}
@media screen and (max-width: 600px) {
.project {
    margin-left: 5%;
    margin-right: 5%;
}
.nav-bar {
    flex-direction: column;
    height: 110px;
    padding-bottom: 5px;
}
.nav-icon{
    width: 45px;
    margin-top: 5px;
}

.nav-button li a {
    font-size: 12px;
    
}
.nav-logo {
    font-size: 40px;
}
}