/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Container for the form */
body {
    background: url(diu.jpg) no-repeat center center/cover fixed;
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    font-family: Arial;
}

/* Form styling */
.form {
    color: #ffffff;
    margin: 30px;
    padding:20px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 700px;
    
}
.footer{
    height: auto;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    display: block;
    text-align:center;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    
}
.footer a{
    color:#ffffff;
    text-decoration: none;
}
.logo img {
    display: block;
    width: 500px;
}

::placeholder{
    color: #cecece;
}

.form h1{
    text-align: center;
    color: #ffffff;
}
.form h2 {
    text-align: left;
    padding-bottom: 20px;
    color: #ffffff;
    text-decoration: solid;
}

/* Form group styling */
div {
    padding-bottom: 20px;
}

/* Label styling */
label {
    font-size: 20px;
    color: #ffffff;
    
}

/* Input styling */
input,select {
    width: 600px;
    padding: 15px;
    border: none ;
    border-radius: 18px;
    font-size: 18px;
    color: #ffffff;
    background-color: rgba(202, 202, 202, 0.4);
    
}
select{
    color: #000000;
}

input:hover {
    transition: 0.4s;
    background-color: rgba(170, 170, 170, 0.7);
}


/* Button styling */
.submit {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
    padding: 14px;
    background-color: #28a745;
    border: none;
    border-radius: 16px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    
}

.submit:hover,.download:hover,.image:hover {
    background-color: #ffffff;
    color: #000000;
    opacity: .9;
    transition-duration: 0.4s;
}
.submit:hover:active,.download:hover:active,.image:hover:active {
    background-color: #28a745;
    color: #ffffff;
    opacity: .9;
    transition-duration: 0.2s;
}

.editButton{
    padding-top:140px;
    padding-bottom: 20px;
    margin-left: -70px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.download,.image{
    width: 200;
    padding: 12px;
    justify-content: center fixed;
    background-color: #28a745;
    border: none;
    border-radius: 16px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/* Javascript document elements */
.document{
    position: relative;
    padding-top: none;
    width: 210mm;
    height: 297mm;
    padding: 3mm;
    background-color: #ffffff !important;    
}
.inside-document{
    width: 200mm;
    height: 287mm;
    font-weight: bold;
    font-size: 28px;
    align-items: center;
    margin: 2mm;
    display: block;
    padding-top: 30px;
    padding-left: 70px;
    background-position: center;
    background-size: smaller;
    border: 2px solid rgb(0, 0, 0);
    position: relative;
}
#logo1{
    position: absolute;
    width: 500px;
    height: auto;
    top: 90mm;
    left: 43mm;
}

img{
    display: flex;
    width: 90%;
}
#text-gap{
    padding-bottom: 5px;
}

.assignment{
    margin-left: -70px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 24px;
    text-decoration: underline;
}

.underline{
    text-decoration: underline  !important;
    color: #154394;
}
.space{
    margin-left: 3cm;
}
.tradeMark{
    position: absolute;
    margin-left: -65px;
    margin-top: 60px;
    text-align: left;
    font-weight: normal !important;
    font-size: 16px;
}



