/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation Bar design */
nav{
    background-color: rgba(0, 0, 0, 0.7);
    width: 700px;
    padding-top:10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
nav .button{
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 10px;
    font-size: 22px;
    cursor: pointer;
    border-radius: 1cap;
}
nav h1 {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
nav a{
    text-decoration: none;
    color: #ffffff;
}
.nav-logo{
    text-align: center;
    font-size: 50px;
}
nav img{
    position: relative;
    width: 70px;
    top: 10px;
    left: 45%;
}
nav .button:hover{
    color: rgb(45, 185, 17);
    border-radius: 1cap;
    padding: 10px;
    margin: 0;
    background-color: rgb(0, 0, 0);
    transition: 0.5s;
}
nav .button:active{
    color: rgb(255, 255, 255);
}
/* Container for the form */
body {
    font-family: 'Roboto', sans-serif;
    background: url(diu.jpg) no-repeat center center/cover fixed;
    padding: 20px;
    padding-bottom: 0px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.content {
    display: none;
}
/* Show the section when its ID is targeted */
.content:target {
    display: block;
}
/* Show the home section by default when no target is specified */
body:not(:has(:target)) #assignment-form {
    display: block;
}

/* Form styling */
.form {
    padding-top:20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 700px;
    
}
.footer{
    height: auto;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    display: block;
    text-align:center;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    
}
.footer a{
    color:#ffffff;
    text-decoration: none;
}
.logo img {
    margin-top: 4px;
    display: block;
    width: 100%;
}

::placeholder{
    color: #cecece;
}

.form h1{
    text-align: center;
    color: #ffffff;
}
.form h2 {
    text-align: left;
    padding-bottom: 20px;
    color: #ffffff;
    text-decoration: solid;
}

/* Form group styling */
div {
    padding-bottom: 20px;
}

/* Label styling */
label {
    font-size: 20px;
    color: #ffffff;
    
}

/* Input styling */
input,select {
    width: 100%;
    padding: 15px;
    border: none ;
    border-radius: 18px;
    font-size: 18px;
    color: #ffffff;
    background-color: rgba(202, 202, 202, 0.4);
    
}
select{
    color: #000000;
}

input:hover {
    transition: 0.4s;
    background-color: rgba(170, 170, 170, 0.7);
}


/* Button styling */
.submit {
    margin: auto;
    display: block;
    width: 200px;
    padding: 14px;
    background-color: #28a745;
    border: none;
    border-radius: 16px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    
}

.submit:hover,.download:hover,.image:hover {
    background-color: #ffffff;
    color: #000000;
    opacity: .9;
    transition-duration: 0.4s;
}
.submit:hover:active,.download:hover:active,.image:hover:active {
    background-color: #28a745;
    color: #ffffff;
    opacity: .9;
    transition-duration: 0.2s;
}

.editButton{
    padding: 160px;
    padding-bottom: 20px;
    margin-left: -70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.download,.image{
    width: auto !important;
    padding: 12px;
    background-color: #28a745;
    border: none;
    border-radius: 16px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/* Javascript document elements */
.document{
    position: relative;
    width: 210mm;
    height: 297mm;
    font-weight: bold !important;
    padding: 3mm;
    background-color: #ffffff !important;    
}
.inside-document{
    width: 200mm;
    height: 287mm;
    font-weight: bold !important;
    font-size: 28px;
    margin: 2mm;
    display: block;
    padding-top: 30px;
    padding-left: 70px;
    background-position: center;
    background-size: smaller;
    border: 2px solid rgb(0, 0, 0);
    position: relative;
}
#logo1{
    position: absolute;
    width: 500px;
    height: auto;
    top: 350px;
    left: 170px;
}

img{
    display: flex;
    width: 90%;
    margin-top: -15px;
}
#text-gap{
    padding-bottom: 5px;
}

.assignment{
    margin-top: -20px;
    margin-left: -70px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 24px;
    text-decoration: underline !important;
}

.underline{
    text-decoration: underline  !important;
    color: #154394;
}
.space{
    margin-left: 120px;
}
.tradeMark{
    position: absolute;
    margin-left: -65px;
    margin-top: 120px;
    text-align: left;
    font-weight: normal !important;
    font-size: 16px;
}
/* Medium devices (tablets, 601px to 800px) */
@media only all and (min-width: 601px) and (max-width: 800px) {
nav{
    width: 100%;

}  
nav .button{
    font-size: 16px;
    margin-bottom: 5px;
}
.nav-logo{
    text-align: center;
    font-size: 40px;
}

.form {
    padding-left: 45px;
    padding-right: 45px;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
}
.logo img {
    display: block;
    width: 100%;
}

::placeholder{
    font-size: 20px;
}

.form h1{
    font-size:30px;
}
.form h2 {
    font-size: 24px;
}
/* Label styling */
label {
    font-size: 20px;    
}
/* Input styling */
input,select {
    padding: 14px;
    font-size: 20px;
}
.submit {
    width: 160px;
    padding: 10px;
    font-size: 20px;
}
.document{
    width: auto;
    height: 254mm;
}
.inside-document{
    width: 170mm;
    height: 244mm;
    font-size: 24px;
    padding-left: 40px;
    border: 1px solid rgb(0, 0, 0);
}
.space{
    margin-left: 110px;
}
.assignment{
    margin-left: -40px;
    font-size: 24px;
}
#logo1{
    width: 470px;
    top: 290px;
    left: 140px;
}

#text-gap{
    padding-bottom: 5px;
}
.editButton{
    padding: 90px;
    margin-left: -40px;
}
.download,.image{
    font-size: 18px;
}
.tradeMark{
    margin-left: -35px;
    margin-top: 60px;
    font-size: 14px;
}
.footer{
    font-size: 14px;
}

}
    
/* Small devices (phones, 600px and below) */
@media only all and (max-width: 600px) {
nav{
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
}  
nav .button{
    font-size: 12px;
    margin-bottom: 5px;
}
.nav-logo{
    text-align: center;
    font-size: 30px;
}
.form {
    padding-left: 30px;
    padding-right: 30px;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
}
.logo img {
    display: block;
    width: 100%;
}

::placeholder{
    font-size: 16px;
}

.form h1{
    font-size:24px;
}
.form h2 {
    font-size: 20px;
}
/* Label styling */
label {
    font-size: 16px;    
}
/* Input styling */
input,select {
    padding: 12px;
    font-size: 18px;
}
.submit {
    width: 120px;
    padding: 10px;
    font-size: 16px;
}
.doc-size{
    width: auto;
    height: 207mm;
}
.document{
    width: auto;
    height: 197mm;
}
.inside-document{
    width: 130mm;
    height: 187mm;
    font-size: 18px;
    padding-left: 40px;
    border: 1px solid rgb(0, 0, 0);
}
.space{
    margin-left: 80px;
}
.assignment{
    margin-left: -30px;
    font-size: 18px;
}
#logo1{
    width: 370px;
    top: 230px;
    left: 100px;
}
img{
    width:90%;
}
#text-gap{
    padding-bottom: 5px;
}
.editButton{
    padding: 6%;
    margin-left: -30px;
}
.download,.image{
    font-size: 14px;
}
.tradeMark{
    margin-left: -35px;
    margin-top: 35px;
    font-size: 10px;
}
.footer{
    font-size: 12px;
}
}




